import * as S from './{{pascalCase (getName name)}}.styles';

const {{pascalCase (getName name)}} = () => {
  return (
    <S.Wrapper>
      <h1>{{pascalCase (getName name)}}</h1>
    </S.Wrapper>
  );
};

export default {{pascalCase (getName name)}};
